{
  "openapi": "3.1.0",
  "info": {
    "title": "Gatekeeper",
    "description": "API gateway on Cloudflare Workers with AWS IAM-style policy authorization. Fronts Cloudflare's cache purge API and S3-compatible R2 storage with per-key/credential policies, token-bucket rate limiting, request collapsing, and D1-backed analytics.",
    "version": "4.0.0",
    "contact": {
      "name": "Erfi Anugrah"
    }
  },
  "servers": [
    {
      "url": "https://gate.erfi.io",
      "description": "Production"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "System",
      "description": "Health and status endpoints"
    },
    {
      "name": "Purge",
      "description": "Cloudflare cache purge via gateway keys"
    },
    {
      "name": "DNS",
      "description": "Cloudflare DNS record management via gateway keys"
    },
    {
      "name": "Keys",
      "description": "CRUD for API keys with IAM policies"
    },
    {
      "name": "Analytics",
      "description": "Analytics events and summaries (purge, DNS, S3)"
    },
    {
      "name": "S3Credentials",
      "description": "CRUD for S3-compatible credentials with IAM policies"
    },
    {
      "name": "S3Proxy",
      "description": "S3-compatible proxy to Cloudflare R2 storage"
    },
    {
      "name": "UpstreamTokens",
      "description": "Manage upstream Cloudflare API tokens for purge and DNS"
    },
    {
      "name": "UpstreamR2",
      "description": "Manage upstream R2 endpoints for S3 proxy"
    },
    {
      "name": "Config",
      "description": "Gateway configuration management"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "getHealth",
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/purge_cache": {
      "post": {
        "tags": [
          "Purge"
        ],
        "operationId": "purgeCache",
        "summary": "Purge Cloudflare cache",
        "description": "Proxies to the Cloudflare cache purge API with IAM policy authorization, token-bucket rate limiting, and request collapsing. The request body must contain exactly one purge type.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "files": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1
                        },
                        {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string",
                              "minLength": 1
                            },
                            "headers": {
                              "type": "object",
                              "propertyNames": {
                                "type": "string"
                              },
                              "additionalProperties": {
                                "type": "string"
                              }
                            }
                          },
                          "required": [
                            "url"
                          ]
                        }
                      ]
                    }
                  },
                  "hosts": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "tags": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "prefixes": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "purge_everything": {
                    "type": "boolean",
                    "const": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Purge result (proxied from Cloudflare)",
            "headers": {
              "X-Ratelimit-Remaining": {
                "description": "Remaining rate-limit tokens",
                "schema": {
                  "description": "Remaining rate-limit tokens",
                  "type": "string"
                }
              },
              "X-Ratelimit-Reset": {
                "description": "Seconds until bucket refill",
                "schema": {
                  "description": "Seconds until bucket refill",
                  "type": "string"
                }
              },
              "X-Ratelimit-Bucket-Size": {
                "description": "Bucket capacity",
                "schema": {
                  "description": "Bucket capacity",
                  "type": "string"
                }
              },
              "X-Ratelimit-Rate": {
                "description": "Refill rate (tokens/sec)",
                "schema": {
                  "description": "Refill rate (tokens/sec)",
                  "type": "string"
                }
              },
              "X-Purge-Flight-Id": {
                "description": "Stable ID linking collapsed requests",
                "schema": {
                  "description": "Stable ID linking collapsed requests",
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiError"
                      }
                    },
                    "messages": {
                      "type": "array",
                      "items": {}
                    },
                    "result": {}
                  },
                  "required": [
                    "success"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/dns_records": {
      "post": {
        "tags": [
          "DNS"
        ],
        "operationId": "createDnsRecord",
        "summary": "Create a DNS record",
        "description": "Proxies to the Cloudflare DNS Records API with IAM policy authorization. Policies can scope by dns.name, dns.type, dns.content, and other condition fields.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "DNS record type (A, AAAA, CNAME, TXT, MX, etc.)"
                  },
                  "name": {
                    "type": "string",
                    "description": "FQDN of the record"
                  },
                  "content": {
                    "description": "Record content/value",
                    "type": "string"
                  },
                  "ttl": {
                    "description": "TTL in seconds, or 1 for auto",
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "number",
                        "const": 1
                      }
                    ]
                  },
                  "proxied": {
                    "description": "Whether to proxy through Cloudflare",
                    "type": "boolean"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "type",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS record created (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "DNS"
        ],
        "operationId": "listDnsRecords",
        "summary": "List DNS records",
        "description": "Lists DNS records for a zone. Supports filtering by type, name, content, etc. All query parameters are passed through to the Cloudflare API.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records list (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/dns_records/export": {
      "get": {
        "tags": [
          "DNS"
        ],
        "operationId": "exportDnsRecords",
        "summary": "Export DNS records as BIND zone file",
        "description": "Exports all DNS records for the zone in BIND format. Requires the dns:export action.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "BIND zone file content"
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/dns_records/batch": {
      "post": {
        "tags": [
          "DNS"
        ],
        "operationId": "batchDnsRecords",
        "summary": "Batch create/update/delete DNS records",
        "description": "Batch operations on DNS records. Execution order: deletes -> patches -> puts -> posts. Each sub-operation is individually authorized against the IAM policy. If any sub-operation is denied, the entire batch is rejected.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deletes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id"
                      ]
                    }
                  },
                  "patches": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "puts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  },
                  "posts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "propertyNames": {
                        "type": "string"
                      },
                      "additionalProperties": {}
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch result (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied (one or more sub-operations rejected)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/dns_records/import": {
      "post": {
        "tags": [
          "DNS"
        ],
        "operationId": "importDnsRecords",
        "summary": "Import DNS records from BIND zone file",
        "description": "Imports DNS records from a BIND zone file. This is a powerful bulk mutation that bypasses per-record authorization. Requires the dns:import action. Rate limited to 3 requests/minute by Cloudflare.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "BIND zone file"
                  }
                },
                "required": [
                  "file"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import result (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/zones/{zoneId}/dns_records/{recordId}": {
      "get": {
        "tags": [
          "DNS"
        ],
        "operationId": "getDnsRecord",
        "summary": "Get a single DNS record",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "DNS record details (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "DNS"
        ],
        "operationId": "editDnsRecord",
        "summary": "Partially update a DNS record",
        "description": "PATCH update — only the provided fields are changed.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "ttl": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "number",
                        "const": 1
                      }
                    ]
                  },
                  "proxied": {
                    "type": "boolean"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated DNS record (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "DNS"
        ],
        "operationId": "updateDnsRecord",
        "summary": "Fully overwrite a DNS record",
        "description": "PUT update — all fields are replaced.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "DNS record type"
                  },
                  "name": {
                    "type": "string",
                    "description": "FQDN of the record"
                  },
                  "content": {
                    "type": "string"
                  },
                  "ttl": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "number",
                        "const": 1
                      }
                    ]
                  },
                  "proxied": {
                    "type": "boolean"
                  },
                  "comment": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "type",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated DNS record (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DNS"
        ],
        "operationId": "deleteDnsRecord",
        "summary": "Delete a DNS record",
        "description": "Deletes a DNS record by ID. A pre-flight GET is performed to resolve the record's FQDN and type for policy evaluation against dns.name/dns.type conditions.",
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "zoneId",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recordId",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Delete confirmation (proxied from Cloudflare)",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Policy denied",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "502": {
            "description": "No upstream API token registered for zone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/keys": {
      "post": {
        "tags": [
          "Keys"
        ],
        "operationId": "createKey",
        "summary": "Create a purge API key",
        "description": "Creates a new API key with an attached IAM policy document.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "zone_id": {
                    "type": "string",
                    "pattern": "^[a-f0-9]{32}$"
                  },
                  "policy": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "const": "2025-01-01"
                      },
                      "statements": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "effect": {
                              "type": "string",
                              "enum": [
                                "allow",
                                "deny"
                              ]
                            },
                            "actions": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "resources": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "conditions": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/__schema0"
                              }
                            }
                          },
                          "required": [
                            "effect",
                            "actions",
                            "resources"
                          ]
                        }
                      }
                    },
                    "required": [
                      "version",
                      "statements"
                    ]
                  },
                  "expires_in_days": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "created_by": {
                    "type": "string"
                  },
                  "rate_limit": {
                    "type": "object",
                    "properties": {
                      "bulk_rate": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      "bulk_bucket": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      "single_rate": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      },
                      "single_bucket": {
                        "type": "number",
                        "exclusiveMinimum": 0
                      }
                    }
                  }
                },
                "required": [
                  "name",
                  "policy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "$ref": "#/components/schemas/ApiKey"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden (role)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Keys"
        ],
        "operationId": "listKeys",
        "summary": "List purge API keys",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "revoked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/keys/{id}": {
      "get": {
        "tags": [
          "Keys"
        ],
        "operationId": "getKey",
        "summary": "Get a specific key",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "$ref": "#/components/schemas/ApiKey"
                        }
                      },
                      "required": [
                        "key"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Keys"
        ],
        "operationId": "deleteKey",
        "summary": "Revoke or permanently delete a key",
        "description": "Soft-revokes by default. Pass `permanent=true` to hard-delete.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "permanent",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Key revoked or deleted",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "revoked": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "revoked"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "deleted": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "deleted"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Key not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/keys/bulk-revoke": {
      "post": {
        "tags": [
          "Keys"
        ],
        "operationId": "bulkRevokeKeys",
        "summary": "Bulk revoke keys",
        "description": "Revoke multiple keys in one request. Supports dry_run preview.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "confirm_count": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "ids",
                  "confirm_count"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result or dry-run preview",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkDryRunResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/keys/bulk-delete": {
      "post": {
        "tags": [
          "Keys"
        ],
        "operationId": "bulkDeleteKeys",
        "summary": "Bulk delete keys",
        "description": "Permanently delete multiple keys. Supports dry_run preview.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "confirm_count": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "ids",
                  "confirm_count"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result or dry-run preview",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkDryRunResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/analytics/events": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getPurgeAnalyticsEvents",
        "summary": "Query purge analytics events",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of purge events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PurgeEvent"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getPurgeAnalyticsSummary",
        "summary": "Query purge analytics summary",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key_id",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Purge analytics summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "$ref": "#/components/schemas/AnalyticsSummary"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/credentials": {
      "post": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "createS3Credential",
        "summary": "Create an S3 credential",
        "description": "Creates a new S3-compatible credential with an IAM policy. Returns the secret_access_key only once.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "policy": {
                    "type": "object",
                    "properties": {
                      "version": {
                        "type": "string",
                        "const": "2025-01-01"
                      },
                      "statements": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "effect": {
                              "type": "string",
                              "enum": [
                                "allow",
                                "deny"
                              ]
                            },
                            "actions": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "resources": {
                              "minItems": 1,
                              "type": "array",
                              "items": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "conditions": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/__schema0"
                              }
                            }
                          },
                          "required": [
                            "effect",
                            "actions",
                            "resources"
                          ]
                        }
                      }
                    },
                    "required": [
                      "version",
                      "statements"
                    ]
                  },
                  "expires_in_days": {
                    "type": "number",
                    "exclusiveMinimum": 0
                  },
                  "created_by": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "policy"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credential created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "credential": {
                          "$ref": "#/components/schemas/S3Credential"
                        }
                      },
                      "required": [
                        "credential"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "listS3Credentials",
        "summary": "List S3 credentials",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "revoked"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/S3Credential"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/credentials/{id}": {
      "get": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "getS3Credential",
        "summary": "Get a specific S3 credential",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Credential details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "credential": {
                          "$ref": "#/components/schemas/S3Credential"
                        }
                      },
                      "required": [
                        "credential"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Credential not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "deleteS3Credential",
        "summary": "Revoke or permanently delete an S3 credential",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          },
          {
            "in": "query",
            "name": "permanent",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string",
              "pattern": "^[a-f0-9]{32}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential revoked or deleted",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "revoked": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "revoked"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "type": "object",
                          "properties": {
                            "deleted": {
                              "type": "boolean",
                              "const": true
                            }
                          },
                          "required": [
                            "deleted"
                          ],
                          "additionalProperties": false
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Credential not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/credentials/bulk-revoke": {
      "post": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "bulkRevokeS3Credentials",
        "summary": "Bulk revoke S3 credentials",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_key_ids": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "confirm_count": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "access_key_ids",
                  "confirm_count"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result or dry-run preview",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkDryRunResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/credentials/bulk-delete": {
      "post": {
        "tags": [
          "S3Credentials"
        ],
        "operationId": "bulkDeleteS3Credentials",
        "summary": "Bulk delete S3 credentials",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_key_ids": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "confirm_count": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "access_key_ids",
                  "confirm_count"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result or dry-run preview",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkDryRunResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/analytics/events": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getS3AnalyticsEvents",
        "summary": "Query S3 proxy analytics events",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "in": "query",
            "name": "credential_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bucket",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "operation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of S3 events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/S3Event"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/s3/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getS3AnalyticsSummary",
        "summary": "Query S3 proxy analytics summary",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number",
              "exclusiveMinimum": 0
            }
          },
          {
            "in": "query",
            "name": "credential_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "bucket",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "operation",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "S3 analytics summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "$ref": "#/components/schemas/S3AnalyticsSummary"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/dns/analytics/events": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getDnsAnalyticsEvents",
        "summary": "Query DNS proxy analytics events",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "record_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DNS events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DnsEvent"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/dns/analytics/summary": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "operationId": "getDnsAnalyticsSummary",
        "summary": "Query DNS proxy analytics summary",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "key_id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "record_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS analytics summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "$ref": "#/components/schemas/DnsAnalyticsSummary"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Analytics not configured",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/upstream-tokens": {
      "post": {
        "tags": [
          "UpstreamTokens"
        ],
        "operationId": "createUpstreamToken",
        "summary": "Register an upstream Cloudflare API token",
        "description": "Registers a Cloudflare API token for proxying purge requests. Optionally validates the token against the Cloudflare API when `validate: true`.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "token": {
                    "type": "string",
                    "minLength": 1
                  },
                  "zone_ids": {
                    "minItems": 1,
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "created_by": {
                    "type": "string"
                  },
                  "validate": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "name",
                  "token",
                  "zone_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token registered",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "$ref": "#/components/schemas/UpstreamToken"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ValidationWarning"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "UpstreamTokens"
        ],
        "operationId": "listUpstreamTokens",
        "summary": "List upstream tokens",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UpstreamToken"
                      }
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/admin/upstream-tokens/{id}": {
      "get": {
        "tags": [
          "UpstreamTokens"
        ],
        "operationId": "getUpstreamToken",
        "summary": "Get a specific upstream token",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "$ref": "#/components/schemas/UpstreamToken"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "UpstreamTokens"
        ],
        "operationId": "deleteUpstreamToken",
        "summary": "Delete an upstream token",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Token deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "deleted": {
                          "type": "boolean",
                          "const": true
                        }
                      },
                      "required": [
                        "deleted"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "404": {
            "description": "Token not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/upstream-tokens/bulk-delete": {
      "post": {
        "tags": [
          "UpstreamTokens"
        ],
        "operationId": "bulkDeleteUpstreamTokens",
        "summary": "Bulk delete upstream tokens",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ids": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1
                    }
                  },
                  "confirm_count": {
                    "type": "integer",
                    "minimum": -9007199254740991,
                    "maximum": 9007199254740991
                  },
                  "dry_run": {
                    "default": false,
                    "type": "boolean"
                  }
                },
                "required": [
                  "ids",
                  "confirm_count"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bulk result or dry-run preview",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "success": {
                          "type": "boolean",
                          "const": true
                        },
                        "result": {
                          "$ref": "#/components/schemas/BulkDryRunResult"
                        }
                      },
                      "required": [
                        "success",
                        "result"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/admin/upstream-r2": {
      "post": {
        "tags": [
          "UpstreamR2"
        ],
        "operationId": "createUpstreamR2",
        "summary": "Register an upstream R2 endpoint",
        "description": "Registers an R2 endpoint with credentials for S3 proxy forwarding. Optionally validates connectivity when `validate: true`.",
        "security": [
          {
            "AdminKeyAuth": []
          },
          {
            "CloudflareAccess": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
[...]
