openapi: 3.1.0
info:
  title: Gatekeeper
  description: >
    API gateway on Cloudflare Workers with AWS IAM-style policy authorization.
    Fronts Cloudflare's cache purge API and S3-compatible R2 storage with
    per-key/credential policies, token-bucket rate limiting, request collapsing,
    and D1-backed analytics. The S3 proxy provides fine-grained object-level
    access control that R2's native tokens cannot — key-prefix restrictions,
    per-operation permissions, cross-bucket mixed policies.
  version: 3.0.0
  contact:
    name: Erfi Anugrah

servers:
  - url: https://gate.erfi.io
    description: Production

# ─── Security schemes ──────────────────────────────────────────────────────

security: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: http
      scheme: bearer
      description: >
        Gateway API key (prefix `gw_`). Issued via `POST /admin/keys`.
        Each key has an attached IAM policy that controls which actions,
        resources, and conditions it can access.

    AdminKeyAuth:
      type: apiKey
      in: header
      name: X-Admin-Key
      description: >
        Shared admin secret for CLI and automation. Falls back when
        Cloudflare Access is not configured.

    CloudflareAccess:
      type: apiKey
      in: header
      name: Cf-Access-Jwt-Assertion
      description: >
        Cloudflare Access JWT. Injected automatically by Access for
        browser-based dashboard users. Also accepted via `CF_Authorization`
        cookie.

    S3SigV4Auth:
      type: apiKey
      in: header
      name: Authorization
      description: >
        AWS Signature Version 4 authentication. S3 clients (rclone, boto3,
        aws-cli) send this automatically. Credentials are issued via
        `POST /admin/s3/credentials` (access key prefix `GK`). Also
        supports presigned URL authentication via query parameters.

  # ─── Reusable schemas ──────────────────────────────────────────────────

  schemas:
    # --- Envelopes ---

    ErrorEnvelope:
      type: object
      required: [success, errors]
      properties:
        success:
          type: boolean
          const: false
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ApiError'

    ApiError:
      type: object
      required: [code, message]
      properties:
        code:
          type: integer
        message:
          type: string

    # --- Bulk operation results ---

    BulkItemResult:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [revoked, deleted, already_revoked, not_found]

    BulkResult:
      type: object
      required: [processed, results]
      properties:
        processed:
          type: integer
          description: Number of items processed.
        results:
          type: array
          items:
            $ref: '#/components/schemas/BulkItemResult'

    BulkDryRunItem:
      type: object
      required: [id, current_status, would_become]
      properties:
        id:
          type: string
        current_status:
          type: string
          enum: [active, revoked, expired, not_found]
        would_become:
          type: string

    BulkDryRunResult:
      type: object
      required: [dry_run, would_process, items]
      properties:
        dry_run:
          type: boolean
          const: true
        would_process:
          type: integer
          description: Number of items that would be processed.
        items:
          type: array
          items:
            $ref: '#/components/schemas/BulkDryRunItem'

    # --- Policy document ---

    PolicyDocument:
      type: object
      required: [version, statements]
      properties:
        version:
          type: string
          const: '2025-01-01'
        statements:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Statement'

    Statement:
      type: object
      required: [effect, actions, resources]
      properties:
        effect:
          type: string
          enum: [allow, deny]
          description: >
            Whether this statement allows or denies matching requests.
            Deny-first: if any deny statement matches, the request is denied
            regardless of allow statements.
        actions:
          type: array
          minItems: 1
          items:
            type: string
          description: >
            Actions this statement permits or denies. Wildcard suffix supported.
            Purge actions: `purge:url`, `purge:host`, `purge:tag`,
            `purge:prefix`, `purge:everything`, `purge:*`.
          examples:
            - ['purge:url', 'purge:host']
            - ['purge:*']
        resources:
          type: array
          minItems: 1
          items:
            type: string
          description: >
            Resources this statement applies to. Format: `zone:<id>`.
            Wildcard: `zone:*` or `*`.
          examples:
            - ['zone:aaaa1111bbbb2222cccc3333dddd4444']
            - ['zone:*']
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: >
            Optional conditions — all must match (AND).
            Omit or empty array for no conditions.

    Condition:
      oneOf:
        - $ref: '#/components/schemas/LeafCondition'
        - $ref: '#/components/schemas/AnyCondition'
        - $ref: '#/components/schemas/AllCondition'
        - $ref: '#/components/schemas/NotCondition'

    LeafCondition:
      type: object
      required: [field, operator, value]
      properties:
        field:
          type: string
          description: >
            Request context field. Purge fields: `host`, `tag`, `prefix`,
            `url`, `url.path`, `url.query`, `url.query.<param>`,
            `header.<name>`, `purge_everything`.
            S3 fields: `bucket`, `key`, `key.prefix`, `operation`.
            Request fields (all services): `client_ip`, `client_country`,
            `client_asn`, `time.hour`, `time.day_of_week`, `time.iso`.
        operator:
          type: string
          enum:
            - eq
            - ne
            - contains
            - not_contains
            - starts_with
            - ends_with
            - matches
            - not_matches
            - 'in'
            - not_in
            - wildcard
            - exists
            - not_exists
            - lt
            - gt
            - lte
            - gte
        value:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
            - type: boolean

    AnyCondition:
      type: object
      required: [any]
      properties:
        any:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: OR — any child must match.

    AllCondition:
      type: object
      required: [all]
      properties:
        all:
          type: array
          items:
            $ref: '#/components/schemas/Condition'
          description: AND — all children must match (explicit).

    NotCondition:
      type: object
      required: [not]
      properties:
        not:
          $ref: '#/components/schemas/Condition'
          description: Negation of a single condition.

    # --- API key ---

    ApiKey:
      type: object
      required: [id, name, zone_id, created_at, revoked, policy]
      properties:
        id:
          type: string
          examples: ['gw_a1b2c3d4e5f6']
        name:
          type: string
        zone_id:
          type: string
          pattern: '^[a-f0-9]{32}$'
        created_at:
          type: integer
          description: Unix timestamp (ms).
        expires_at:
          type: ['integer', 'null']
          description: Unix timestamp (ms), or null if no expiration.
        revoked:
          type: integer
          enum: [0, 1]
          description: 0 = active, 1 = revoked.
        policy:
          type: string
          description: JSON-serialized PolicyDocument.
        created_by:
          type: ['string', 'null']
          description: Email of the creator (from Access JWT), or null.
        bulk_rate:
          type: ['integer', 'null']
          description: Per-key bulk rate limit (req/sec). Null = account default.
        bulk_bucket:
          type: ['integer', 'null']
        single_rate:
          type: ['integer', 'null']
          description: Per-key single-file rate limit (URLs/sec). Null = account default.
        single_bucket:
          type: ['integer', 'null']

    # --- Create key request ---

    CreateKeyRequest:
      type: object
      required: [name, zone_id, policy]
      properties:
        name:
          type: string
        zone_id:
          type: string
          pattern: '^[a-f0-9]{32}$'
        policy:
          $ref: '#/components/schemas/PolicyDocument'
        expires_in_days:
          type: integer
          minimum: 1
        created_by:
          type: string
          description: >
            Auto-populated from Access JWT email when authenticated
            via Cloudflare Access. Can be set manually when using admin key.
        rate_limit:
          type: object
          properties:
            bulk_rate:
              type: integer
              description: Must not exceed account default.
            bulk_bucket:
              type: integer
            single_rate:
              type: integer
            single_bucket:
              type: integer

    # --- Purge body ---

    PurgeBody:
      type: object
      description: >
        Exactly one of `files`, `hosts`, `tags`, `prefixes`, or
        `purge_everything` must be present.
      properties:
        files:
          type: array
          items:
            oneOf:
              - type: string
                description: Plain URL string.
              - type: object
                required: [url]
                properties:
                  url:
                    type: string
                  headers:
                    type: object
                    additionalProperties:
                      type: string
                    description: >
                      Custom cache key headers (e.g. CF-Device-Type).
          description: Purge by URL(s). Max 500 items (configurable).
        hosts:
          type: array
          items:
            type: string
          description: Purge by hostname(s).
        tags:
          type: array
          items:
            type: string
          description: Purge by cache tag(s).
        prefixes:
          type: array
          items:
            type: string
          description: Purge by URL prefix(es).
        purge_everything:
          type: boolean
          const: true
          description: Purge all cached content in the zone.

    # --- Analytics ---

    PurgeEvent:
      type: object
      required: [id, key_id, zone_id, purge_type, tokens, status, duration_ms, created_at]
      properties:
        id:
          type: integer
          description: Auto-incrementing event ID from D1.
        key_id:
          type: string
        zone_id:
          type: string
        purge_type:
          type: string
          enum: [host, tag, prefix, url, everything]
          description: >
            The type of purge operation. `url` = single-file purge by URL,
            `host`/`tag`/`prefix` = bulk purge by that dimension,
            `everything` = purge_everything.
        purge_target:
          type: ['string', 'null']
          description: >
            Human-readable summary of what was purged. For `url` purges,
            the comma-separated URLs (with `[Header:value]` for custom cache keys).
            For `host`/`tag`/`prefix`, the values. For `everything`, `"*"`.
            Truncated to 4 KB. `null` for events recorded before this field was added.
        tokens:
          type: integer
          description: >
            Rate-limit tokens consumed by this request. For `url` purges,
            equals the number of URLs. For bulk types, always 1.
        status:
          type: integer
        collapsed:
          type: ['string', 'null']
          description: >
            Request collapsing level: `"isolate"` (same isolate),
            `"do"` (Durable Object), or `null` if not collapsed.
        upstream_status:
          type: ['integer', 'null']
        duration_ms:
          type: integer
        response_detail:
          type: ['string', 'null']
          description: >
            Truncated upstream response for debugging. For purge requests,
            contains the CF API JSON `{success, errors, messages}`. Null when
            the request was collapsed or didn't reach upstream.
        created_by:
          type: ['string', 'null']
          description: >
            Identity of the caller — 'via API key' for token auth, email for Access SSO.
        created_at:
          type: integer
          description: Unix timestamp (ms).

    AnalyticsSummary:
      type: object
      required:
        - total_requests
        - total_urls_purged
        - by_status
        - by_purge_type
        - collapsed_count
        - avg_duration_ms
      properties:
        total_requests:
          type: integer
        total_urls_purged:
          type: integer
          description: Total number of individual URLs purged (single-file count, 1 per bulk request)
        by_status:
          type: object
          additionalProperties:
            type: integer
          examples:
            - { '200': 45, '429': 3 }
        by_purge_type:
          type: object
          additionalProperties:
            type: integer
          examples:
            - { 'host': 20, 'tag': 10, 'url': 15, 'everything': 3 }
        collapsed_count:
          type: integer
        avg_duration_ms:
          type: integer

    # --- S3 Credentials ---

    S3Credential:
      type: object
      required: [access_key_id, name, created_at, revoked, policy]
      properties:
        access_key_id:
          type: string
          description: Access key ID (prefix `GK`).
          examples: ['GK1A2B3C4D5E6F7890AB']
        secret_access_key:
          type: string
          description: >
            Secret access key. Only returned on creation — redacted in list/get.
        name:
          type: string
        created_at:
          type: integer
          description: Unix timestamp (ms).
        expires_at:
          type: ['integer', 'null']
          description: Unix timestamp (ms), or null if no expiration.
        revoked:
          type: integer
          enum: [0, 1]
          description: 0 = active, 1 = revoked.
        policy:
          type: string
          description: JSON-serialized PolicyDocument with S3 actions.
        created_by:
          type: ['string', 'null']
          description: Email of the creator (from Access JWT), or null.

    CreateS3CredentialRequest:
      type: object
      required: [name, policy]
      properties:
        name:
          type: string
        policy:
          $ref: '#/components/schemas/PolicyDocument'
          description: >
            Policy with S3 actions (e.g. `s3:GetObject`, `s3:PutObject`, `s3:*`)
            and S3 resources (e.g. `object:my-bucket/*`, `bucket:my-bucket`, `*`).
        expires_in_days:
          type: integer
          minimum: 1
        created_by:
          type: string

    # --- S3 Analytics ---

    S3Event:
      type: object
      required: [id, credential_id, operation, status, duration_ms, created_at]
      properties:
        id:
          type: integer
        credential_id:
          type: string
        operation:
          type: string
          description: S3 operation name (e.g. GetObject, PutObject, ListBuckets).
        bucket:
          type: ['string', 'null']
        key:
          type: ['string', 'null']
        status:
          type: integer
        duration_ms:
          type: integer
        response_detail:
          type: ['string', 'null']
          description: >
            Truncated upstream response for debugging. For S3 requests,
            contains the R2 XML error body when status >= 400. Null on success.
        created_by:
          type: ['string', 'null']
          description: >
            Identity of the caller — the S3 credential access key ID.
        created_at:
          type: integer
          description: Unix timestamp (ms).

    S3AnalyticsSummary:
      type: object
      required: [total_requests, by_status, by_operation, by_bucket, avg_duration_ms]
      properties:
        total_requests:
          type: integer
        by_status:
          type: object
          additionalProperties:
            type: integer
        by_operation:
          type: object
          additionalProperties:
            type: integer
          description: Top 20 operations by count.
        by_bucket:
          type: object
          additionalProperties:
            type: integer
          description: Top 20 buckets by count.
        avg_duration_ms:
          type: integer

    # --- Upstream Tokens ---

    UpstreamToken:
      type: object
      required: [id, name, zone_ids, token_preview, created_at, revoked]
      properties:
        id:
          type: string
          description: Token ID (prefix `upt_`).
          examples: ['upt_a1b2c3d4']
        name:
          type: string
        zone_ids:
          type: string
          description: Comma-separated zone IDs, or `*` for all zones.
        token_preview:
          type: string
          description: First 8 characters of the token for identification.
        created_at:
          type: integer
          description: Unix timestamp (ms).
        created_by:
          type: ['string', 'null']
          description: Email of the creator (from Access JWT), or null.
        revoked:
          type: integer
          enum: [0, 1]

    CreateUpstreamTokenRequest:
      type: object
      required: [name, token, zone_ids]
      properties:
        name:
          type: string
        token:
          type: string
          description: Cloudflare API token with cache purge permissions.
        zone_ids:
          type: array
          minItems: 1
          items:
            type: string
          description: >
            Zone IDs this token can purge, or `["*"]` for all zones.
        created_by:
          type: string

    # --- Upstream R2 Endpoints ---

    UpstreamR2:
      type: object
      required: [id, name, bucket_names, access_key_preview, endpoint, created_at, revoked]
      properties:
        id:
          type: string
          description: Endpoint ID (prefix `upr2_`).
          examples: ['upr2_a1b2c3d4']
        name:
          type: string
        bucket_names:
          type: string
          description: Comma-separated bucket names, or `*` for all buckets.
        access_key_preview:
          type: string
          description: First 8 characters of the access key ID for identification.
        endpoint:
          type: string
          description: R2 S3-compatible endpoint URL.
        created_at:
          type: integer
          description: Unix timestamp (ms).
        created_by:
          type: ['string', 'null']
          description: Email of the creator (from Access JWT), or null.
        revoked:
          type: integer
          enum: [0, 1]

    CreateUpstreamR2Request:
      type: object
      required: [name, access_key_id, secret_access_key, endpoint, bucket_names]
      properties:
        name:
          type: string
        access_key_id:
          type: string
          description: R2 access key ID.
        secret_access_key:
          type: string
          description: R2 secret access key.
        endpoint:
          type: string
          description: R2 S3-compatible endpoint URL.
        bucket_names:
          type: array
          minItems: 1
          items:
            type: string
          description: >
            Bucket names this endpoint serves, or `["*"]` for all buckets.
        created_by:
          type: string

    # --- Config ---

    GatewayConfig:
      type: object
      required:
        - bulk_rate
        - bulk_bucket_size
        - bulk_max_ops
        - single_rate
        - single_bucket_size
        - single_max_ops
        - key_cache_ttl_ms
        - retention_days
      properties:
        bulk_rate:
          type: number
          description: Bulk purge rate limit (req/sec).
        bulk_bucket_size:
          type: number
          description: Bulk purge token bucket capacity.
        bulk_max_ops:
          type: number
          description: Max operations per bulk purge request.
        single_rate:
          type: number
          description: Single-file purge rate limit (URLs/sec).
        single_bucket_size:
          type: number
          description: Single-file purge token bucket capacity.
        single_max_ops:
          type: number
          description: Max URLs per single-file purge request.
        key_cache_ttl_ms:
          type: number
          description: API key cache TTL in milliseconds.
        retention_days:
          type: number
          description: Analytics event retention in days.

    ConfigOverride:
      type: object
      required: [key, value, updated_at]
      properties:
        key:
          type: string
        value:
          type: string
        updated_at:
          type: integer
          description: Unix timestamp (ms).
        updated_by:
          type: ['string', 'null']

    ConfigResponse:
      type: object
      required: [config, overrides, defaults]
      properties:
        config:
          $ref: '#/components/schemas/GatewayConfig'
        overrides:
          type: array
          items:
            $ref: '#/components/schemas/ConfigOverride'
        defaults:
          type: object
          additionalProperties:
            type: number

  # ─── Reusable parameters ─────────────────────────────────────────────────

  parameters:
    ZoneIdQuery:
      name: zone_id
      in: query
      required: true
      schema:
        type: string
        pattern: '^[a-f0-9]{32}$'
      description: Cloudflare zone ID.

    ZoneIdPath:
      name: zoneId
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-f0-9]{32}$'
      description: Cloudflare zone ID.

    KeyIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: API key ID.

    AccessKeyIdPath:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: S3 credential access key ID (prefix `GK`).
      examples:
        - GK1A2B3C4D5E6F7890AB

# ─── Paths ─────────────────────────────────────────────────────────────────

paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      tags: [System]
      responses:
        '200':
          description: Service is healthy.
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                    const: true

  /v1/zones/{zoneId}/purge_cache:
    post:
      operationId: purgeCache
      summary: Purge cache
      description: >
        Proxy to Cloudflare's purge API with IAM policy authorization,
        token-bucket rate limiting, and isolate+DO request collapsing.
        Non-200 responses from the upstream Cloudflare API (including
        429, 500, etc.) are passed through with their original status
        code and body.
      tags: [Purge]
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeBody'
            examples:
              purge-urls:
                summary: Purge specific URLs
                value:
                  files:
                    - 'https://example.com/styles.css'
                    - 'https://example.com/app.js'
              purge-urls-with-headers:
                summary: Purge URLs with custom cache key headers
                value:
                  files:
                    - url: 'https://example.com/'
                      headers:
                        CF-Device-Type: mobile
              purge-hosts:
                summary: Purge by hostname
                value:
                  hosts: ['cdn.example.com']
              purge-tags:
                summary: Purge by cache tags
                value:
                  tags: ['blog', 'release-v2.1']
              purge-prefixes:
                summary: Purge by URL prefix
                value:
                  prefixes: ['https://example.com/api/']
              purge-everything:
                summary: Purge all cached content
                value:
                  purge_everything: true
      responses:
        '200':
          description: >
            Purge successful. Response body is proxied from Cloudflare's
            upstream API.
          content:
            application/json:
              schema:
                type: object
                description: Cloudflare upstream response (passthrough).
          headers:
            Ratelimit:
              schema:
                type: string
              description: >
                Token bucket state as a Structured Field.
                Format: `"<bucket-name>";r=<remaining>;t=<retry-after-sec>`.
                Example: `"purge-bulk";r=499;t=0`.
              example: '"purge-bulk";r=499;t=0'
            Ratelimit-Policy:
              schema:
                type: string
              description: >
                Rate limit policy as a Structured Field.
                Format: `"<bucket-name>";q=<bucket-size>;w=<window-sec>`.
                Example: `"purge-bulk";q=500;w=10`.
              example: '"purge-bulk";q=500;w=10'
        '400':
          description: Invalid request (bad zone ID, invalid JSON, bad purge body).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '403':
          description: >
            Policy authorization denied. The key's policy does not permit
            this action/resource/condition combination.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorEnvelope'
                  - type: object
                    properties:
                      denied:
                        type: array
                        items:
                          type: string
                        description: >
                          List of items that failed policy evaluation.
                          Present only when specific items were denied.
        '429':
          description: >
            Rate limited — either by the gateway's token bucket or by the
            upstream Cloudflare API. Upstream 429 responses are passed through
            with their original body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          headers:
            Retry-After:
              schema:
                type: string
              description: Seconds until tokens are available.
            Ratelimit:
              schema:
                type: string
              description: Token bucket state (same format as 200 response).
        '502':
          description: >
            Upstream Cloudflare API request failed (network error, timeout).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Keys ──────────────────────────────────────────────────────────

  /admin/keys:
    post:
      operationId: createKey
      summary: Create API key
      description: >
        Create a new gateway API key with an attached IAM policy document.
        The returned key `id` (prefix `gw_`) is the Bearer token used
        for purge requests.
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKeyRequest'
            examples:
              minimal:
                summary: Full purge access on one zone
                value:
                  name: ci-deploy
                  zone_id: aaaa1111bbbb2222cccc3333dddd4444
                  policy:
                    version: '2025-01-01'
                    statements:
                      - effect: allow
                        actions: ['purge:*']
                        resources: ['zone:aaaa1111bbbb2222cccc3333dddd4444']
              scoped:
                summary: URL purge restricted to specific hosts
                value:
                  name: cdn-purger
                  zone_id: aaaa1111bbbb2222cccc3333dddd4444
                  policy:
                    version: '2025-01-01'
                    statements:
                      - effect: allow
                        actions: ['purge:url']
                        resources: ['zone:aaaa1111bbbb2222cccc3333dddd4444']
                        conditions:
                          - field: host
                            operator: ends_with
                            value: '.example.com'
                  expires_in_days: 90
              deny-off-hours:
                summary: Allow purge but deny purge_everything outside business hours
                value:
                  name: safe-purger
                  zone_id: aaaa1111bbbb2222cccc3333dddd4444
                  policy:
                    version: '2025-01-01'
                    statements:
                      - effect: allow
                        actions: ['purge:*']
                        resources: ['zone:aaaa1111bbbb2222cccc3333dddd4444']
                      - effect: deny
                        actions: ['purge:everything']
                        resources: ['zone:*']
                        conditions:
                          - field: time.hour
                            operator: gte
                            value: '22'
      responses:
        '200':
          description: Key created successfully.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [key]
                    properties:
                      key:
                        $ref: '#/components/schemas/ApiKey'
                        description: >
                          The created API key. The `id` field (prefix `gw_`)
                          is used as the Bearer token for purge requests.
        '400':
          description: Validation error (missing fields, invalid policy, rate limits exceed account defaults).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    get:
      operationId: listKeys
      summary: List API keys
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdQuery'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, revoked]
          description: Filter by key status.
      responses:
        '200':
          description: List of API keys for the zone.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApiKey'
        '400':
          description: Missing zone_id query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/keys/{id}:
    get:
      operationId: getKey
      summary: Get API key details
      description: Returns the key metadata including the serialized policy.
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/KeyIdPath'
        - $ref: '#/components/parameters/ZoneIdQuery'
      responses:
        '200':
          description: Key details.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [key]
                    properties:
                      key:
                        $ref: '#/components/schemas/ApiKey'
        '400':
          description: Missing zone_id query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Key not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    delete:
      operationId: revokeOrDeleteKey
      summary: Revoke or permanently delete an API key
      description: >
        Without `permanent`, soft-revokes the key (sets `revoked = 1`).
        With `permanent=true`, permanently removes the key from the database.
        Hard-delete works on keys in any state (active or already revoked).
        Analytics events referencing the key are preserved.
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/KeyIdPath'
        - $ref: '#/components/parameters/ZoneIdQuery'
        - name: permanent
          in: query
          required: false
          schema:
            type: boolean
          description: >
            When `true`, permanently deletes the key row instead of soft-revoking.
      responses:
        '200':
          description: Key revoked or deleted.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      revoked:
                        type: boolean
                        description: Present when soft-revoking.
                      deleted:
                        type: boolean
                        description: Present when permanently deleting.
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Key not found (or already revoked, when soft-revoking).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Bulk Key Operations ───────────────────────────────────────────

  /admin/keys/bulk-revoke:
    post:
      operationId: bulkRevokeKeys
      summary: Bulk soft-revoke multiple API keys
      description: >
        Soft-revoke multiple keys in one request. Requires `confirm_count` to match the
        number of IDs as a fat-finger guard. Set `dry_run: true` to preview without executing.
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, confirm_count]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: Array of key IDs to revoke.
                confirm_count:
                  type: integer
                  description: Must exactly match the length of `ids`.
                dry_run:
                  type: boolean
                  default: false
                  description: Preview the operation without executing.
      responses:
        '200':
          description: Bulk revoke result or dry-run preview.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/BulkResult'
                      - $ref: '#/components/schemas/BulkDryRunResult'
        '400':
          description: Validation error (empty array, confirm_count mismatch, over 100 items).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/keys/bulk-delete:
    post:
      operationId: bulkDeleteKeys
      summary: Bulk permanently delete multiple API keys
      description: >
        Permanently remove multiple keys from the database. Works on keys in any state.
        Requires `confirm_count` as a fat-finger guard. Set `dry_run: true` to preview.
        Analytics events referencing deleted keys are preserved.
      tags: [Keys]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, confirm_count]
              properties:
                ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: Array of key IDs to delete.
                confirm_count:
                  type: integer
                  description: Must exactly match the length of `ids`.
                dry_run:
                  type: boolean
                  default: false
                  description: Preview the operation without executing.
      responses:
        '200':
          description: Bulk delete result or dry-run preview.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/BulkResult'
                      - $ref: '#/components/schemas/BulkDryRunResult'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Analytics ─────────────────────────────────────────────────────

  /admin/analytics/events:
    get:
      operationId: getAnalyticsEvents
      summary: Query purge event logs
      tags: [Analytics]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdQuery'
        - name: key_id
          in: query
          schema:
            type: string
          description: Filter events by API key ID.
        - name: since
          in: query
          schema:
            type: integer
          description: Start time (unix ms).
        - name: until
          in: query
          schema:
            type: integer
          description: End time (unix ms).
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
          description: Max events to return.
      responses:
        '200':
          description: List of purge events.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/PurgeEvent'
        '400':
          description: Missing zone_id query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Analytics not configured (ANALYTICS_DB binding absent).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/analytics/summary:
    get:
      operationId: getAnalyticsSummary
      summary: Aggregated analytics
      tags: [Analytics]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/ZoneIdQuery'
        - name: key_id
          in: query
          schema:
            type: string
          description: Filter by API key ID.
        - name: since
          in: query
          schema:
            type: integer
          description: Start time (unix ms).
        - name: until
          in: query
          schema:
            type: integer
          description: End time (unix ms).
      responses:
        '200':
          description: Aggregated analytics for the zone.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/AnalyticsSummary'
        '400':
          description: Missing zone_id query parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Analytics not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: S3 Credentials ────────────────────────────────────────────────

  /admin/s3/credentials:
    post:
      operationId: createS3Credential
      summary: Create S3 credential
      description: >
        Create a new S3 credential with an attached IAM policy document.
        Returns the `access_key_id` (prefix `GK`) and `secret_access_key`.
        The secret is only shown on creation — it cannot be retrieved later.
        Use these credentials with any S3-compatible client (rclone, boto3,
        aws-cli) pointed at `https://<gateway>/s3`.
      tags: [S3Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateS3CredentialRequest'
            examples:
              full-access:
                summary: Full S3 access to all buckets
                value:
                  name: dev-full-access
                  policy:
                    version: '2025-01-01'
                    statements:
                      - effect: allow
                        actions: ['s3:*']
                        resources: ['*']
              read-only-prefix:
                summary: Read-only access to a key prefix
                value:
                  name: cdn-reader
                  policy:
                    version: '2025-01-01'
                    statements:
                      - effect: allow
                        actions: ['s3:GetObject', 's3:ListBucket']
                        resources: ['object:my-bucket/public/*', 'bucket:my-bucket']
                        conditions:
                          - field: key.prefix
                            operator: starts_with
                            value: 'public/'
                  expires_in_days: 90
      responses:
        '200':
          description: Credential created. Secret is only returned here.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [credential]
                    properties:
                      credential:
                        $ref: '#/components/schemas/S3Credential'
                        description: >
                          The created credential. `secret_access_key` is only
                          present in this response — store it securely.
        '400':
          description: Validation error (missing fields, invalid policy).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    get:
      operationId: listS3Credentials
      summary: List S3 credentials
      description: >
        Returns all S3 credentials. Secrets are redacted. Filter by
        status to get only active or revoked credentials.
      tags: [S3Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, revoked]
          description: Filter by credential status.
      responses:
        '200':
          description: List of S3 credentials (secrets redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/S3Credential'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/s3/credentials/{id}:
    get:
      operationId: getS3Credential
      summary: Get S3 credential details
      description: >
        Returns credential metadata including the serialized policy.
        The secret is redacted.
      tags: [S3Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AccessKeyIdPath'
      responses:
        '200':
          description: Credential details (secret redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [credential]
                    properties:
                      credential:
                        $ref: '#/components/schemas/S3Credential'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Credential not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    delete:
      operationId: revokeOrDeleteS3Credential
      summary: Revoke or permanently delete an S3 credential
      description: >
        Without `permanent`, soft-revokes the credential (sets `revoked = 1`).
        The credential is immediately rejected on subsequent S3 requests
        (cache TTL up to 60s). With `permanent=true`, permanently removes the
        credential row from the database. Analytics events are preserved.
      tags: [S3Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/AccessKeyIdPath'
        - name: permanent
          in: query
          required: false
          schema:
            type: boolean
          description: >
            When `true`, permanently deletes the credential row instead of soft-revoking.
      responses:
        '200':
          description: Credential revoked or deleted.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    properties:
                      revoked:
                        type: boolean
                        description: Present when soft-revoking.
                      deleted:
                        type: boolean
                        description: Present when permanently deleting.
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Credential not found (or already revoked, when soft-revoking).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Bulk S3 Credential Operations ────────────────────────────────

  /admin/s3/credentials/bulk-revoke:
    post:
      operationId: bulkRevokeS3Credentials
      summary: Bulk soft-revoke multiple S3 credentials
      description: >
        Soft-revoke multiple S3 credentials in one request. Requires `confirm_count` to match
        the number of IDs as a fat-finger guard. Set `dry_run: true` to preview without executing.
      tags: [S3 Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [access_key_ids, confirm_count]
              properties:
                access_key_ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: Array of access key IDs to revoke.
                confirm_count:
                  type: integer
                  description: Must exactly match the length of `access_key_ids`.
                dry_run:
                  type: boolean
                  default: false
                  description: Preview the operation without executing.
      responses:
        '200':
          description: Bulk revoke result or dry-run preview.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/BulkResult'
                      - $ref: '#/components/schemas/BulkDryRunResult'
        '400':
          description: Validation error (empty array, confirm_count mismatch, over 100 items).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/s3/credentials/bulk-delete:
    post:
      operationId: bulkDeleteS3Credentials
      summary: Bulk permanently delete multiple S3 credentials
      description: >
        Permanently remove multiple S3 credentials from the database. Works on credentials
        in any state. Requires `confirm_count` as a fat-finger guard. Set `dry_run: true` to preview.
        Analytics events referencing deleted credentials are preserved.
      tags: [S3 Credentials]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [access_key_ids, confirm_count]
              properties:
                access_key_ids:
                  type: array
                  items:
                    type: string
                  minItems: 1
                  maxItems: 100
                  description: Array of access key IDs to delete.
                confirm_count:
                  type: integer
                  description: Must exactly match the length of `access_key_ids`.
                dry_run:
                  type: boolean
                  default: false
                  description: Preview the operation without executing.
      responses:
        '200':
          description: Bulk delete result or dry-run preview.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    oneOf:
                      - $ref: '#/components/schemas/BulkResult'
                      - $ref: '#/components/schemas/BulkDryRunResult'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: S3 Analytics ─────────────────────────────────────────────────

  /admin/s3/analytics/events:
    get:
      operationId: getS3AnalyticsEvents
      summary: Query S3 event logs
      description: >
        Returns recent S3 proxy events from D1. Unlike purge analytics,
        S3 analytics are account-level (no zone_id required).
      tags: [S3Analytics]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: credential_id
          in: query
          schema:
            type: string
          description: Filter events by S3 credential access key ID.
        - name: bucket
          in: query
          schema:
            type: string
          description: Filter events by bucket name.
        - name: operation
          in: query
          schema:
            type: string
          description: Filter events by S3 operation (e.g. GetObject, PutObject).
        - name: since
          in: query
          schema:
            type: integer
          description: Start time (unix ms).
        - name: until
          in: query
          schema:
            type: integer
          description: End time (unix ms).
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
          description: Max events to return.
      responses:
        '200':
          description: List of S3 events.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/S3Event'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Analytics not configured (ANALYTICS_DB binding absent).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/s3/analytics/summary:
    get:
      operationId: getS3AnalyticsSummary
      summary: Aggregated S3 analytics
      description: >
        Returns aggregate stats: total requests, breakdowns by status code,
        top 20 operations, top 20 buckets, and average duration.
      tags: [S3Analytics]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: credential_id
          in: query
          schema:
            type: string
          description: Filter by S3 credential access key ID.
        - name: bucket
          in: query
          schema:
            type: string
          description: Filter by bucket name.
        - name: operation
          in: query
          schema:
            type: string
          description: Filter by S3 operation.
        - name: since
          in: query
          schema:
            type: integer
          description: Start time (unix ms).
        - name: until
          in: query
          schema:
            type: integer
          description: End time (unix ms).
      responses:
        '200':
          description: Aggregated S3 analytics.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/S3AnalyticsSummary'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '503':
          description: Analytics not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Upstream Tokens ────────────────────────────────────────────────

  /admin/upstream-tokens:
    post:
      operationId: createUpstreamToken
      summary: Register upstream CF API token
      description: >
        Register a Cloudflare API token for proxying purge requests to specific zones.
        The token is encrypted at rest in the Durable Object's SQLite store.
      tags: [UpstreamTokens]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpstreamTokenRequest'
      responses:
        '200':
          description: Token registered.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/UpstreamToken'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    get:
      operationId: listUpstreamTokens
      summary: List upstream tokens
      tags: [UpstreamTokens]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, revoked]
      responses:
        '200':
          description: List of upstream tokens (token values redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/UpstreamToken'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/upstream-tokens/{id}:
    get:
      operationId: getUpstreamToken
      summary: Get upstream token details
      tags: [UpstreamTokens]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Upstream token ID (prefix `upt_`).
      responses:
        '200':
          description: Token details (value redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/UpstreamToken'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Token not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    delete:
      operationId: revokeUpstreamToken
      summary: Revoke upstream token
      tags: [UpstreamTokens]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [revoked]
                    properties:
                      revoked:
                        type: boolean
                        const: true
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Token not found or already revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Upstream R2 Endpoints ────────────────────────────────────────

  /admin/upstream-r2:
    post:
      operationId: createUpstreamR2
      summary: Register upstream R2 endpoint
      description: >
        Register R2 credentials for proxying S3 requests. Maps bucket names
        to an R2 endpoint with access key and secret. Credentials are
        encrypted at rest.
      tags: [UpstreamR2]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpstreamR2Request'
      responses:
        '200':
          description: R2 endpoint registered.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/UpstreamR2'
        '400':
          description: Validation error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    get:
      operationId: listUpstreamR2
      summary: List upstream R2 endpoints
      tags: [UpstreamR2]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, revoked]
      responses:
        '200':
          description: List of R2 endpoints (secrets redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: array
                    items:
                      $ref: '#/components/schemas/UpstreamR2'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/upstream-r2/{id}:
    get:
      operationId: getUpstreamR2
      summary: Get upstream R2 endpoint details
      tags: [UpstreamR2]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Upstream R2 endpoint ID (prefix `upr2_`).
      responses:
        '200':
          description: Endpoint details (secrets redacted).
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/UpstreamR2'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Endpoint not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    delete:
      operationId: revokeUpstreamR2
      summary: Revoke upstream R2 endpoint
      tags: [UpstreamR2]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Endpoint revoked.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [revoked]
                    properties:
                      revoked:
                        type: boolean
                        const: true
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: Endpoint not found or already revoked.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── Admin: Config ───────────────────────────────────────────────────────

  /admin/config:
    get:
      operationId: getConfig
      summary: Get gateway configuration
      description: >
        Returns the resolved configuration, active overrides, and defaults.
      tags: [Config]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      responses:
        '200':
          description: Current configuration.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    $ref: '#/components/schemas/ConfigResponse'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

    put:
      operationId: setConfig
      summary: Update gateway configuration
      description: >
        Set one or more config values. Values must be positive finite numbers.
        Only known config keys are accepted.
      tags: [Config]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: number
              description: >
                Key-value pairs of config keys to update.
              examples:
                - bulk_rate: 50
                  retention_days: 30
      responses:
        '200':
          description: Configuration updated.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [config]
                    properties:
                      config:
                        $ref: '#/components/schemas/GatewayConfig'
        '400':
          description: Validation error (unknown key, invalid value).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  /admin/config/{key}:
    delete:
      operationId: resetConfigKey
      summary: Reset a config key to default
      description: >
        Deletes the override for a config key, reverting to the default value.
      tags: [Config]
      security:
        - CloudflareAccess: []
        - AdminKeyAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
          description: Config key to reset.
      responses:
        '200':
          description: Override removed, reverted to default.
          content:
            application/json:
              schema:
                type: object
                required: [success, result]
                properties:
                  success:
                    type: boolean
                    const: true
                  result:
                    type: object
                    required: [config]
                    properties:
                      config:
                        $ref: '#/components/schemas/GatewayConfig'
        '400':
          description: Unknown config key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Not authenticated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '404':
          description: No override found for this key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'

  # ─── S3 Proxy ────────────────────────────────────────────────────────────

  /s3/{path}:
    get:
      operationId: s3ProxyGet
      summary: S3 proxy (GET)
      description: &s3proxy-description >
        S3-compatible proxy to Cloudflare R2. Authenticates via AWS
        Signature Version 4 (header or presigned URL), evaluates the
        request against the credential's IAM policy, then re-signs and
        forwards to R2. Supports all S3 operations — 26 R2-native
        operations and 40 extended operations (forwarded to R2 which
        returns its own errors for unsupported ones).


        Use any S3-compatible client pointed at `https://<gateway>/s3`
        as the endpoint. Credentials are issued via
        `POST /admin/s3/credentials`.
      tags: [S3Proxy]
      security:
        - S3SigV4Auth: []
      parameters: &s3proxy-params
        - name: path
          in: path
          required: true
          schema:
            type: string
          description: >
            S3 path: empty for ListBuckets, `<bucket>` for bucket ops,
            `<bucket>/<key>` for object ops.
      responses: &s3proxy-responses
        '200':
          description: Proxied R2 response. Content type varies by operation.
        '400':
          description: Invalid S3 request (malformed auth, bad path).
          content:
            application/xml:
              schema:
                type: string
                description: S3-compatible XML error response.
        '403':
          description: >
            Authentication failed (bad signature, revoked credential) or
            IAM policy denied the operation.
          content:
            application/xml:
              schema:
                type: string
        '501':
          description: >
            Operation not implemented by R2 (returned by R2 itself).
          content:
            application/xml:
              schema:
                type: string
    put:
      operationId: s3ProxyPut
      summary: S3 proxy (PUT)
      description: *s3proxy-description
      tags: [S3Proxy]
      security:
        - S3SigV4Auth: []
      parameters: *s3proxy-params
      responses: *s3proxy-responses
    post:
      operationId: s3ProxyPost
      summary: S3 proxy (POST)
      description: *s3proxy-description
      tags: [S3Proxy]
      security:
        - S3SigV4Auth: []
      parameters: *s3proxy-params
      responses: *s3proxy-responses
    delete:
      operationId: s3ProxyDelete
      summary: S3 proxy (DELETE)
      description: *s3proxy-description
      tags: [S3Proxy]
      security:
        - S3SigV4Auth: []
      parameters: *s3proxy-params
      responses: *s3proxy-responses
    head:
      operationId: s3ProxyHead
      summary: S3 proxy (HEAD)
      description: *s3proxy-description
      tags: [S3Proxy]
      security:
        - S3SigV4Auth: []
      parameters: *s3proxy-params
      responses: *s3proxy-responses

tags:
  - name: System
    description: Health and status endpoints.
  - name: Purge
    description: Cache purge operations proxied to Cloudflare.
  - name: Keys
    description: API key management with IAM policy documents.
  - name: Analytics
    description: D1-backed purge event analytics.
  - name: S3Credentials
    description: >
      S3 credential management. Credentials are separate from purge API keys
      and use access key ID (prefix `GK`) + secret access key authentication
      via AWS Signature Version 4.
  - name: S3Analytics
    description: >
      D1-backed analytics for S3 proxy requests. Account-level (no zone_id
      required, unlike purge analytics).
  - name: UpstreamTokens
    description: >
      Upstream Cloudflare API token management. Maps zone IDs to CF API tokens
      for proxying purge requests to the Cloudflare API.
  - name: UpstreamR2
    description: >
      Upstream R2 endpoint management. Maps bucket names to R2 credentials
      and endpoints for proxying S3 requests.
  - name: Config
    description: >
      Gateway configuration management. Supports runtime overrides of rate
      limits, cache TTLs, and retention periods without redeployment.
  - name: S3Proxy
    description: >
      S3-compatible proxy to Cloudflare R2 with IAM policy authorization.
      Clients use standard S3 SDKs (rclone, boto3, aws-cli) pointed at the
      gateway's `/s3` endpoint. Authentication uses AWS Signature Version 4
      with credentials issued via the S3Credentials admin endpoints.
